<!--The whole content below can be removed with the new code.-->
<md-sidenav-container [ngClass]="{'my-app-dark-theme': darkTheme}">
  <md-sidenav #sidenav mode="over">
    <app-sidebar>
    </app-sidebar>
  </md-sidenav>

  <div class="site">
    <header>
      <app-header (toggle)="sidenav.open()" (toggleDarktheme)="switchTheme($event)"></app-header>
    </header>
    <a [routerLink]="['/login']"></a>
    <main color="accent">
      <router-outlet></router-outlet>
    </main>

    <footer>
      <app-footer></app-footer>
    </footer>
  </div>
</md-sidenav-container>
