<md-toolbar color="accent">
  <md-list>
    <h3 md-subheader>项目</h3>
    <md-list-item>
      <md-icon md-list-icon svgIcon="projects"></md-icon>
      <span md-line>项目首页</span>
      <span md-line md-subheader> 查看你所有的项目</span>
    </md-list-item>
    <h3 md-subheader>日历</h3>
    <md-list-item>
      <md-icon md-list-icon svgIcon="month"></md-icon>
      <span md-line>月视图</span>
      <span md-line md-subheader>按月查看你的任务</span>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon svgIcon="week"></md-icon>
      <span md-line>周视图</span>
      <span md-line md-subheader>按周查看你的任务</span>
    </md-list-item>
    <md-list-item>
      <md-icon md-list-icon [svgIcon]="currentDayIndex"></md-icon>
      <span md-line>日视图</span>
      <span md-line md-subheader>按日查看你的任务</span>
    </md-list-item>
  </md-list>
</md-toolbar>

